In [1]:
# The code was removed by Watson Studio for sharing.

(2111282, 28)

# Los Angeles Crime Clustering


A problem often encountered by prospective homeowners is where to purchase a home. Safety is of paramount importance in determining a home location. Los Angeles provides a public database of information, similar to most other major cities. By finding clusters in this data in general or by demonstrating where violent crimes tend to be clustered, one can see where safer neighborhoods may lie to move into.

It would be interesting to overlay other data, such as housing prices, homelessness, or other social welfare indicators, with this data, but that would fall outside the scope of the project.

The data is downloaded from https://data.lacity.org/A-Safe-City/Crime-Data-from-2010-to-2019/63jg-8b9z, and the database is owned by the LAPD. It has well-defined columns and is publically available and free for download.

In [2]:
import pandas as pd
import numpy as np


#Note: df_data_1 contains the information imported in a hidden cell from the Local Watson File.
# The Data was saved from the link above, imported into Watson, and imported into the notebook with hidden code...which is shared on Github, 
# So the cell above the markup 

la_crime_df = df_data_1
la_crime_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,AA,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,IC,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,"RAPE, ATTEMPTED",...,IC,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488

In [3]:
# Show size of crime database:
la_crime_df.shape

(2111282, 28)

In [4]:
#Show column headers and data types
la_crime_df.dtypes

DR_NO               int64
Date Rptd          object
DATE OCC           object
TIME OCC            int64
AREA                int64
AREA NAME          object
Rpt Dist No         int64
Part 1-2            int64
Crm Cd              int64
Crm Cd Desc        object
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
Crm Cd 1          float64
Crm Cd 2          float64
Crm Cd 3          float64
Crm Cd 4          float64
LOCATION           object
Cross Street       object
LAT               float64
LON               float64
dtype: object

In [5]:
#The most important columns for us are the 'DR_NO'(index), 'AREA', 'AREA NAME', Crm Cd', 'LAT', 'LON'
#There may be use in the future regarding 'Weapon Used Cd' for specific types of violent crime if you want to subdivide categories

la_crime_df = la_crime_df.reindex(columns = ['DR_NO','AREA','AREA NAME', 'Crm Cd', 'LAT', 'LON'])
la_crime_df.head()

       DR_NO  AREA  AREA NAME  Crm Cd      LAT       LON
0    1307355   NaN     Newton     900  33.9825 -118.2695
1   11401303   NaN    Pacific     740  33.9599 -118.3962
2   70309629   NaN     Newton     946  34.0224 -118.2524
3   90631215   NaN  Hollywood     900  34.1016 -118.3295
4  100100501   NaN    Central     122  34.0387 -118.2488

In [6]:
#It appears 'AREA' is not a very useful column, so we'll delete it.

la_crime_df.drop(columns = ['AREA'], inplace = True)
la_crime_df.head()

       DR_NO  AREA NAME  Crm Cd      LAT       LON
0    1307355     Newton     900  33.9825 -118.2695
1   11401303    Pacific     740  33.9599 -118.3962
2   70309629     Newton     946  34.0224 -118.2524
3   90631215  Hollywood     900  34.1016 -118.3295
4  100100501    Central     122  34.0387 -118.2488